@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">iTextShart Report</h1>

    <a href="Report/header">Header</a> <br />
    <a href="Report/SubHeader">Sub Header</a><br />
	<a href="Report/LineSeprator">Line Seperator</a><br />
    <a href="Report/AddImage">Add Image</a><br />
    <a href="Report/CreatingTable">Creating Table</a><br />
    <a href="Report/CreatingHyperlink">Creating Hyperlink</a><br />
    <a href="Report/AddPageNumber">Add Page Number</a><br />
</div>
