@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">iTextSharp Report</h1>

    <a href="Report/header">Header</a> <br />
    <a href="Report/SubHeader">Sub Header</a><br />
	<a href="Report/LineSeprator">Line Seperator</a><br />
    <a href="Report/AddImage">Add Image</a><br />
    <a href="Report/CreatingTable">Creating Table</a><br />
    <a href="Report/CreatingHyperlink">Creating Hyperlink</a><br />
    <a href="Report/AddPageNumber">Add Page Number</a><br />
    <a href="Report/DailySalesReport"><span style="color:black;">Daily Sales Report</span></a><br />
    <a href="Report/certificate"><span style="color:black;">Certificate</span></a><br />
    <a href="Report/invoice"><span style="color:black;">Invoice</span></a><br />
    <a href="Report/billReport"><span style="color:black;">billReport</span></a><br />
    <a href="Report/salarySlip"><span style="color:black;">salarySlip</span></a><br />
    <a href="Report/Sample1"><span style="color:#618d37;">Sample1</span></a><br />
</div>
